{% extends 'shop/base.html' %}
{%load static %}


<html>
    <head>
        {% comment %} <link rel="stylesheet" href="{% static 'shop/stock.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = "{%static 'shop/index.css'%}">
    
    </head>
    <body>
        {% block body %}
        <h2 class="card-title" style="font-weight: 900; font-family: 'Lobster', cursive; color: red; font-size: 50px;">
            'Product You entered is Not There'
        </h2>
        
        {% endblock body %}

    </body>
</html>



